[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
C = CH
ST = GVA
L = geneva
O = ora
OU = mysql
CN = *.apps.demos.oramysql02.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = *.apps.demos.oramysql02.com
DNS.2 = *.demos.oramysql02.com
